@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --admin-sidebar-width: 256px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  top: 0 !important;
}

@layer base {
  input:-webkit-autofill {
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: #364153 !important;
  }
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #364153;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

#google_translate_element,
.goog-te-banner-frame,
.goog-te-balloon-frame,
.goog-te-spinner-pos,
.goog-te-spinner,
.goog-te-combo,
.skiptranslate,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc,
.VIpgJd-y662nd-IB9P9e-dWZ2ae,
iframe[src*='translate.googleapis.com'],
iframe[name*='google_translate'] {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.goog-text-highlight,
font {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

span[style*='background-color: rgb(255, 255, 0)'],
span[style*='background-color: yellow'] {
  background-color: transparent !important;
}
