body.swal2-shown {
  padding-right: 0 !important;
}

.custom-popup {
  width: auto;
  max-width: 500px;
  border-radius: 14px;
  padding: 20px 0;
  background: white;
  font-family: inherit;
}

.custom-title {
  color: black;
  font-size: 22px;
  font-weight: 600;
}

.custom-text {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
}

.custom-footer {
  color: rgb(80, 80, 80);
  font-size: 14px;
  font-weight: 500;
}

.custom-icon {
  color: oklch(64.738% 0.23966 19.65) !important;
  border: solid 2px oklch(64.738% 0.23966 19.65) !important;
  margin-top: 0;
  font-size: 10px;
}

.custom-confirm-btn {
  border-radius: 6px;
  padding: 8px 12px;
  font-weight: 600;
  color: #ffffff;
  background-color: oklch(71.2% 0.194 13.428);
  transition: background-color linear 150ms;
  cursor: pointer;
  outline: none;
}

.custom-confirm-btn:hover {
  background-color: oklch(64.738% 0.23966 19.65);
}

.custom-cancel-btn {
  border-radius: 6px;
  padding: 8px 12px;
  margin-left: 20px;
  font-weight: 600;
  color: white;
  background-color: oklch(37.15% 0.00004 271.152);
  transition: background-color linear 150ms;
  cursor: pointer;
  outline: none;
}

.custom-cancel-btn:hover {
  background-color: oklch(27.685% 0.00003 271.152);
}
